<div class="container ">
  <div class="login-form">
    <%= link_to 'Top', articles_path(@article), class:'login-top-btn'%>
  <h2 class="text-center login-text padding-bottom-15">新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= label_tag(:profile_name, '名前') %><br />
      <%= text_field_tag 'profile[name]', "",class: 'form-control' , placeholder: 'Username'%>
    </div>

    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' , placeholder: 'example@example.com'%>
    </div>

    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <!--<% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上入力してください)</em>
      <% end %><br/>-->
      <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control' , placeholder: '6文字以上入力してください'%>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'パスワード確認' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: 'form-control' , placeholder: 'もう一度パスワードを入力してください'%>
    </div>



    <div class="actions">
      <%= f.submit "新規登録", class: 'btn registrations-btn',style: 'margin-top:5px' %>
    </div>
  <% end %>

  <p class="margin-top-40">
    アカウントをお持ちの方はこちら
  </p>
  <%= link_to "ログイン", new_session_path(resource_name), class: 'btn login-btn2',style: 'margin-top:5px'%>
</div>
</div>
