<h1 class="text-center font-family1" style="margin:0; padding:10px; width:100% ">Top</h1>
<div class="container">
  <div class="row">

    <% @articles.each do |article | %>
      <%= link_to article do %>
        <div class="col-md-4 margin-top-5">
          <div class="bg-white">
            <% if article.image_id.present?%>
            <%= image_tag attachment_url(article, :image), class: 'img-responsive article-list-image', align: "left"%>
            <%else%>
            <%= image_tag '1.jpg', class: 'img-responsive article-list-image' %>
            <%end%>
            <div class="padding-bottom-15">
              <p class="title"><%= article.title %></p>
                <%if article.category.present?%>
                <p class="text-center padding-top-10 padding-bottom-10"><span class="badge badge-secondary">#<%=article.category.category_name%></span></p>
                <%end%>
                <span class="time-left"><%= article.created_at.strftime("%Y年%m月%d日") %></span>
            </div>
          </div>
        </div>
        <%end%>
    <%end%>
  </div>
  <%= paginate @articles , class: 'font-size-30'%>
  <!--<div class="row">
      <%= link_to "新規作成", new_article_path, class: 'margin-top-5 btn btn-primary' %>
  </div> -->

</div>
