<div class="container">
      <div class="col-md-12 margin-top-5 ">
        <div class="<!--bg-white--> padding-15">
          <!--<%= image_tag '1.jpg', class: 'article-image' %>-->
          <% if @article.image_id.present?%>
          <%= image_tag attachment_url(@article, :image), class: 'article-image' %>
          <%else%>
          <%= image_tag '1.jpg', class: 'article-image' %>
          <%end%>
          <h1 class="padding-15 font-size-30"><%=@article.title%></h1>
          <div class="padding-bottom-15">
            <p class="title"><%= @article.body.html_safe %></p>
            <%if @article.category.present?%>
            <p class="text-left"><span class="badge badge-secondary">#<%=@article.category.category_name%></span></p>
            <%end%>
            <p class="text-right">
              <%= @article.created_at.strftime("%Y年%m月%d日") %>
            </p>
          </div>
          <% if current_user.try(:admin?) %>
          <%= link_to '編集', edit_article_path(@article), class: 'btn btn-primary'%>
          <%= link_to '削除', article_path(@article), method: :delete, data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger'%>
          <%end%>
        </div>
      </div>
      <div class="comment-field col-md-12">
        <h2 class="text-left padding-bottom-15 " style="padding-left:20;">コメント欄</h2>

          <% @article.comments.each do |comment|%>

              <div class="padding-bottom-15 text-left">
                <p>#<%= comment.user.name%></p>
                  <p class="margin-15"><%= comment.content%></p>
                  <p class="border-1 padding-15"> </p>
              </div>
              <% if comment.user == current_user%>
                <%= link_to "コメントを削除する", article_comment_path(comment.article_id, comment.id), method: :delete, class: 'btn btn-danger' %>
              <%end%>
          <%end%>

          <% if current_user%>
            <%= form_for ([@article, @article.comments.build]) do |f|%>
              <div class="form-group　padding-15">
                <p>
                  <%= f.label :content, "コメントを入力する"%>
                  <%= f.text_area :content, class: 'form-control padding-15 margin-15' ,placeholder: 'コメントを入力する' %>
                </p>
              </div>
              <%= f.submit class: 'btn btn-success margin-15'%>
            <%end%>
            <%else%>
            <p>アカウントがログインされているとコメントが出来るにようになります。</p>
          <%end%>
      </div>
</div>
